body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Honk', system-ui;
    text-align: center;
    background-color: #e4e2e2cc;
    overflow-y: hidden;
    height: 100vh;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul li{
    margin: 0 15px;
}

.fa {
    cursor: pointer;
    color: red;
    transition: .35s;
}

.fa:hover{
    color: black;
}

.fa-play{
    font-size: 30px !important;
}

.fa-stop{
    font-size: 30px !important;
}

h1{
    color: green;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

